.pri1-sm-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 73px;
  height: 31px;
  font-size: 12px;
  color: white;
  background-color: #3498db;
}

.pri1-st-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 101px;
  height: 47px;
  font-size: 16px;
  color: white;
  background-color: #3498db;
}

.pri1-md-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 89px;
  height: 41px;
  font-size: 14px;
  color: white;
  background-color: #1f618d;
}

.sec1-sm-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 73px;
  height: 31px;
  font-size: 12px;
  color: #3498db;
  border: solid 1px #3498db;
}

.sec1-st-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 101px;
  height: 47px;
  font-size: 16px;
  color: #3498db;
  border: solid 1px #3498db;
}

.sec1-md-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 89px;
  height: 41px;
  font-size: 14px;
  color: #1f618d;
  border: solid 1px #1f618d;
}

.ter1-sm-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 73px;
  height: 31px;
  font-size: 12px;
  color: #3498db;
  text-decoration: underline;
  border-radius: none;
}

.ter1-st-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 101px;
  height: 47px;
  font-size: 16px;
  color: #3498db;
  text-decoration: underline;
  border-radius: none;
}

.ter1-md-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 89px;
  height: 41px;
  font-size: 14px;
  color: #1f618d;
  text-decoration: underline;
  border-radius: none;
}

.pri2-md-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 89px;
  height: 41px;
  font-size: 14px;
  color: white;
  background-color: #3498db;
}

.pri2-sm-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 73px;
  height: 31px;
  font-size: 12px;
  color: white;
  background-color: #1f618d;
}

.pri2-st-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 101px;
  height: 47px;
  font-size: 16px;
  color: white;
  background-color: #1f618d;
}

.sec2-md-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 89px;
  height: 41px;
  font-size: 14px;
  color: #3498db;
  border: solid 1px #3498db;
}

.sec2-sm-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 73px;
  height: 31px;
  font-size: 12px;
  color: #1f618d;
  border: solid 1px #1f618d;
}

.sec2-st-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 101px;
  height: 47px;
  font-size: 16px;
  color: #1f618d;
  border: solid 1px #1f618d;
}

.ter2-md-light-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 89px;
  height: 41px;
  font-size: 14px;
  color: #3498db;
  text-decoration: underline;
  border-radius: none;
}

.ter2-sm-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 73px;
  height: 31px;
  font-size: 12px;
  color: #1f618d;
  text-decoration: underline;
  border-radius: none;
}

.ter2-st-saphire-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  border-radius: 8px;
  width: 101px;
  height: 47px;
  font-size: 16px;
  color: #1f618d;
  text-decoration: underline;
  border-radius: none;
}