$white: #ffffff;
$light: #3498db;
$saphire: #1f618d;
$cobalt: #2980b9;
$navy: #154360;
$ocean: #2070a0;
$navier: #487a99;

$border-radius: 8px;

$button-small-padding: 8px 12px;
$button-medium-padding: 12px 16px;
$button-large-padding: 14px 18px;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

@mixin button-color-variant(
  $name,
  $text-color,
  $background-color,
  $border-color,
  $text-decoration,
  $hover-color,
  $border-hover-color,
  $text-hover-color,
  $active-color,
  $border-active-color,
  $text-active-color
) {
  &.button--color-#{$name} {
    color: $text-color;
    background-color: $background-color;
    border-color: $border-color;
    text-decoration: $text-decoration;

    &:hover {
      background-color: $hover-color;
      border-color: $border-hover-color;
      color: $text-hover-color;
    }

    &:active {
      background-color: $active-color;
      border-color: $border-active-color;
      color: $text-active-color;
    }
  }
}

@mixin button-size-variant($size, $padding, $font-size) {
  &.button--size-#{$size} {
    font-size: $font-size;
    padding: $padding;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica;
  font-size: 14px;
  line-height: 130%;
  border-radius: $border-radius;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;

  @include button-color-variant(
    primary-light,
    $white,
    $light,
    transparent,
    none,
    $cobalt,
    transparent,
    none,
    $ocean,
    transparent,
    none
  );
  @include button-color-variant(
    primary-saphire,
    $white,
    $saphire,
    transparent,
    none,
    $navy,
    transparent,
    none,
    $navier,
    transparent,
    none
  );
  @include button-color-variant(
    secondary-light,
    $light,
    transparent,
    $light,
    none,
    transparent,
    $cobalt,
    $cobalt,
    transparent,
    $ocean,
    $ocean
  );
  @include button-color-variant(
    secondary-saphire,
    $saphire,
    transparent,
    $saphire,
    none,
    transparent,
    $navy,
    $navy,
    transparent,
    $navier,
    $navier
  );
  @include button-color-variant(
    ternary-light,
    $light,
    transparent,
    transparent,
    underline,
    transparent,
    transparent,
    $cobalt,
    transparent,
    transparent,
    $ocean
  );
  @include button-color-variant(
    ternary-saphire,
    $saphire,
    transparent,
    transparent,
    underline,
    transparent,
    transparent,
    $navy,
    transparent,
    transparent,
    $navier
  );

  @include button-size-variant(small, $button-small-padding, $font-size-small);
  @include button-size-variant(
    medium,
    $button-medium-padding,
    $font-size-medium
  );
  @include button-size-variant(large, $button-large-padding, $font-size-large);
}
